* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: hsl(225, 100%, 94%)
    url(./order-summary-component-main/images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  background-color: #fff;
  width: 30%;
  height: 85vh;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  left: 500px;
}

/*Trying to attach the tunes image to the mother container*/
.img {
  position: absolute;
  left: 0;
  margin-top: 0;
  top: 0;
  width: 100%;
  min-height: 20vh;
  border-radius: 20px 20px 0 0;
}

main div {
  position: relative;
  top: 13vh;
  margin: 2px 6px 2px 6px;
  padding: 4px;
}

.describe {
  text-align: center;
}

.describe h1 {
  font-size: xx-large;
  font-weight: 900px;
  margin: 6px 0 6px 0;
  color: hsl(223, 47%, 23%);
}

.describe p {
  /*font-size: x-large;*/
  font-weight: 3px;
  margin: 8px 4px 4px 4px;
  color: hsl(224, 23%, 55%);
}

.plan {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: auto;
  background-color: hsl(225, 100%, 98%);
  margin-top: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
}

.plan nav ul li {
  list-style: none;
  margin: 0 70px 0px 20px;
}

.plan .h3 {
  font-size: large;
  font-weight: bold;
  margin-bottom: 3px;
  color: hsl(223, 47%, 23%);
}

.plan .p {
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}

.plan p {
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}

.plan p:hover {
  color: rgb(231, 48, 186);
  cursor: pointer;
}

button {
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 0;
  border-radius: 12px;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0 12px 20px 2px hsl(224, 23%, 55%);
  cursor: pointer;
  font-size: large;
}

button:hover {
  background-color: rgb(231, 48, 186);
  color: #fff;

  box-shadow: 0 12px 20px 2px hsl(224, 23%, 55%);
  cursor: pointer;
}

.cancel {
  width: 80%;
  margin-left: 130px;
  margin-top: 15px;
  padding: 10px;
  color: hsl(223, 47%, 23%);
  font-weight: bolder;
  stroke: hsl(223, 47%, 23%);
  cursor: pointer;
}

.cancel:hover {
  color: rgb(231, 48, 186);
  stroke: hsl(223, 47%, 23%);
  cursor: pointer;
}
